# Builds & binaries
build/
run/
bin/
target/
lib/
invtweaks_docs/_build
launcher/
.gradle/
inventory-tweaks-javadoc/
*.zip
*.jar

!gradle-wrapper.jar

# Tmp files
*~
*#

# IDEs
.classpath
.project
.settings
.pydevproject
.idea/
*.iml

# Misc
*.rej
classes/

# Encrypted files
invtweaks.keystore
